// Body
$body-bg: #4F4F4F;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$grey11: #1C1C1C;
$grey31: #4F4F4F;
$DimGray: #696969;
$Gray: #808080;
$DarkGray: #A9A9A9;
$Silver: #C0C0C0;
$LightGrey: #D3D3D3;
$Gainsboro: #DCDCDC;